{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="jumbotron">
  <h3 class="display-5">Work and School Experiences</h3>
  <p class="lead"></p>
  <hr class="my-4">
  <h5 class="display-5">Work experiences</h5>
  <ul><li>Summer Intern, Mouvement Desjardins, summer 2017
     <ul><li>I tested and documented a real estate risk model on a large dataset.</li>
      <li>Work was done in SAS, and involved GLMs and learning big data techniques for model validation.</li> </ul>
    </li>
    <li>Summer Intern, Doric Lenses, summer 2016<ul><li>I researched algorithms in photonics, prototyped them in Python, and implemented them in C++.</li></ul></li>
    <li>Teaching Auxiliary, Université Laval, 2017-2018 <ul><li>
      I taught Mathematics as a tutor, and corrected exams.
    </li>
  </ul></li>
  </ul>
  <h5 class="display-5">School</h5>
    <ul><li>MSc in Applied Mathematics, Université Laval<ul>
      <li>Completed in 2020.</li>
      <li>Thesis advisor was Nicolas Doyon.</li>
    </ul></li>
    <li>BSc in Mathematics, Université Laval<ul>
    <li>Completed in 2017.</li> </ul></li>

    <li>Canadian Securities Course <ul>
      <li>Ongoing.</li>
    </ul></li>
  </ul>
   <h5 class="display-5">Other Accomplishments</h5>
    <ul><li>I speak English, French, Japanese and Spanish.</li>
    <li>President of Charlesbourg's Tae Kwon Do club for four years.</li>
    <li>Co-author of the published article "On the parity of supersingular Weil polynomials"<ul><li>Published in <i>Archiv der Mathematik</i>, 2016. </li>
      <li><a href = "https://arxiv.org/abs/1602.07510">Link to arXiv page.</a></li></ul></li>
  </ul>
</div>
</div>
{% endblock %}
